@media screen and (max-width: 600px) {
  #loginCard {
    width: 97%;
    margin-top: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
}
p{
    font-size: 10px;
}
